<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments :: page_head('Login','none')" ></head>
<body>
	<div class="container-fluid text-center">
	    <div th:replace="navigation :: header_menu"></div> 
		<div>
			<h2>Customer Login</h2>
		</div>
		
		<form th:action="@{/login}" method="post" style="max-width: 350px;margin: 0 auto;">
		    <div th:if="${param.error}">
			   <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
		    <div th:if="${param.logout}">
			   <p class="text-warning">You have been logout Successfully.</p>
			</div>
			
			<div class="mt-3">
			  <a class="btn btn-lg btn-secondary" th:href="@{/oauth2/authorization/google}">
			     <span class="fab fa-google">&nbsp;Continue with Google</span>
			  </a>
			  <div>&nbsp;</div>
			  <a class="btn btn-lg btn-secondary" th:href="@{/oauth2/authorization/facebook}">
			     <span class="fab fa-facebook">&nbsp;Continue with Facebook</span>
			  </a>
			</div>
			<div>&nbsp;</div>
		    <div class="border border-secondary rounded p-3" style="max-width: 350px;margin: 0 auto;">
		         <p>
		           <input type="email" name="email" class="form-control" required="required" placeholder="E-mail">
		         </p>
		         <p>
		           <input type="password" name="password" class="form-control" required="required" placeholder="Password">
		         </p>
		         <p>
		           <input type="checkbox" name="remember-me"/>&nbsp;Remember me
		         </p>
		         
		          <p>
		           <input type="submit" value="login" class="btn btn-primary">
		         </p>
		    </div>		
		</form>
		<div>&nbsp;</div>
		<div>
		  or <a th:href="@{/forgot_password}">Forgot Password</a>
		</div>
		<div>&nbsp;</div>
		 <div>
		  Don't have an account?<a th:href="@{/register}"><b>Sign up</b></a>
		 </div>
		<div>&nbsp;</div>
		<div th:replace="navigation :: footer_menu"></div> 
	</div>
</body>
</html>