<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle},'none')">
<body>
	<div class="container-fluid">
		
		<div th:replace="navigation :: menu"></div> 

		<div>
			<h1>Manage Categories | [[${pageTitle}]]</h1>			
		</div>
		
		  <form th:action="@{/categories/save}" method="post" th:object="${category}" style="max-width:500px; margin: 0 auto" 
		         onsubmit="return checkUnique(this)" enctype="multipart/form-data"> 
		         
		        <input type="hidden" th:field="*{id}"> 
		    <div class="border border-secondary rounded p-3">
		        <div class="form-group row">
		           <label class="col-form-label col-sm-4">Category Name</label>
		           <div class="col-sm-8">
		              <input type="text" class="form-control" th:field="*{name}" required="required" min="3" maxlength="160">
		           </div>
		        </div>
		        
		        <div class="form-group row">
		           <label class="col-form-label col-sm-4">Alias</label>
		           <div class="col-sm-8">
		              <input type="text" class="form-control" th:field="*{alias}" required="required" min="3" maxlength="64">
		           </div>
		        </div>		        
		        
		        <div class="form-group row">
		        <label class="col-form-label col-sm-4">Parent Category</label>
		           <div class="col-sm-8">
		              <select class="form-control" th:field="*{parent}">
		                 <option value = "0">[No Option]</option>
		                 <th:block th:each="cat : ${listCategories}">
		                    <option th:value="${cat.id}">[[${cat.name}]]</option>
		                 </th:block>
		              </select>
		           </div>
		        </div>
		        
		        
		        <div class="form-group row">
			        <label class="col-form-label col-sm-4">Photo:</label>
			           <div class="col-sm-8">
			              <input type="hidden" th:field="*{image}">
			              <input type="file" accept="image/png,image/jpeg" id="fileImage" name="fileImage" class="mb-2">
			              
			              <div class="mt-2">
			                 <img id="thumbnail" alt="Image preview" th:src="@{/images/image-thumbnail.png}" class="img-fluid">
			              </div>
			           </div>
		        </div>	
		                
		        <div class="form-group row">
		        <label class="col-form-label col-sm-4">Enabled:</label>
		           <div class="col-sm-8">
		              <input type="checkbox" th:field="*{enabled}">
		           </div>
		        </div>
		        
		        <div class="text-center">
		           <input type="submit" value="Save" class="btn btn-primary m-3" />
			       <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />	        
		        </div>
		    
		    </div>	  	  
		</form>
		
		
		<div th:replace="modal_fragment :: modal_dialog"></div>		
		
        <div th:replace="fragments :: footer"></div> 

	</div>
</body>
<script type="text/javascript">
  MAX_FILE_SIZE = 1048576;
  moduleURL = "[[@{/categories}]]";
 
  function checkUnique(form){
    catId = $("#id").val();
    catName = $("#name").val();
    catAlias = $("#alias").val();
    
    csrfValue = $("input[name='_csrf']").val();
    
    url = "[[@{/categories/check_unique}]]";
    
    params = {id: catId,name: catName,alias: catAlias,_csrf: csrfValue};
    
    $.post(url,params,function(response){
      if(response == "OK"){
         form.submit();
      }else if(response == "DuplicatedName"){
        showWarningModal("There is another category having same name "+catName);
      }else if(response == "DuplicatedAlias"){
        showWarningModal("There is another category having same alias "+catAlias);
      }else{
        showErrorModal("Unknown response from server.");
      }
    }).fail(function(){
      showErrorModal("Could not connect to server.");
    });
  
    return false;
  }
  
  function showModalDialog(title,message){
         $("#modalTitle").text(title);
         $("#modalBody").text(message);
         $("#modalDialog").modal();
  }
  
  function showErrorModal(title,message){
         showModalDialog("Error",message)
  }
  
  function showWarningModal(title,message){
         showModalDialog("Warning",message)
  }
  
  
</script>
<script th:src="@{/js/common_form.js}"></script>
</html>